/.idea
/coverage.txt
/*.iml
/.env*
/.dev*
/.cover*
/overalls*
profile.coverprofile
/public_html
/build
/var
/TODO

# Subtree gitinclude
/*
!.gitignore
!api/
!cmd
!codegen
!compose
!internal
!messaging
!monolith
!pkg
!scripts
!system
!.editorconfig
!.platform.app.yaml
!codegen.sh
!go.*
!Makefile
